@model AppUser

@{
    ViewData["Title"] = "My data";
    Layout = "_Layout";
}

@section css{
    <!-- BOOTSTRAP 4.6.0 -->
    <!-- [slightly customed BS in accordance with specification without changes of core elements] -->
    <link rel="stylesheet" href="~/css/css-min/Search.bundle.posted.min.css">

}


@section Header {

    <header>
        <nav class="navbar shadow justify-content-between w-100 px-2">
            <div class="d-inline-flex">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Logo.svg" alt="" class="logo align-self-center">
                </a>
            </div>
            <div class="d-inline-flex py-2">
                <a class="btn btn-reg btn-jobit-60 rounded-pill" asp-action="LogIn">
                    <i class="bi bi-box-arrow-right "></i>&ensp;Войти
                </a>
            </div>
        </nav>
    </header>

}

<div class="container vh-100">
    <div class="row">
        <div class="col">
            <h3 class="mb-3 ">Редактирование данных</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="User" asp-action="Edit" method="post">
                <div class="form-group">
                    <label asp-for="Email">E-mail</label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Password">Пароль</label>
                    <input name="Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-jobit-80">Сохранить</button>
                <a asp-action="Index" class="btn btn-dark">Отмена</a>
            </form>
        </div>
    </div>
</div>


