@*<ul class="card card-body">
    @foreach (SqlEntityStatistics stat in Model.statistics.Where(s => s.Attribute == "Source"))
    {
        <a asp-controller="Search" asp-action="FilterBySource" asp-route-itemDescript="@stat.Value">
            <li class="d-flex justify-content-between align-items-center lightli job-source">
                <p class="p-0 m-0" flag-selected="false">@stat.Value</p>
                <span class="badge badge-warning badge-pill">@stat.Count</span>
            </li>
        </a>
    }
</ul>*@