.custom-control-input:checked ~ .custom-control-label::before {
    background-color: mediumpurple;
    border-color: rebeccapurple;
}

.form-control:focus {
    border-color: gold;
    box-shadow: none;
}

.custom-select:focus {
    border-color: gold;
    box-shadow: none;
}

.width-standart {
    width: 5.5rem;
}

.menu {
    color: white;
    font-weight: bold;
}

.jobit-table {
    font-size: 2rem;
}

.line-spacing {
    line-height: 0.9rem !important;
}