@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@*@Html.PartialAsync("_PartialModelForSearch")*@


@section css{
    <!-- BOOTSTRAP 4.6.0 -->
    <!-- [slightly customed BS in accordance with specification without changes of core elements] -->
    <link rel="stylesheet" href="~/css/css-min/Search.bundle.posted.min.css">
}

@section Header {

    <header>
        <nav class="navbar shadow justify-content-between w-100 px-2">
            <div class="d-inline-flex">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Logo.svg" alt="" class="logo align-self-center">
                </a>
            </div>
            <form class="form-inline">
                        <button class="btn btn-warning" type="submit"  asp-action="Search">Вкладка ПОИСК!</button>
            </form>
            <div class="d-inline-flex py-2">
                <a class="btn btn-reg btn-jobit-60 rounded-pill mr-2" asp-controller="RoleAdmin" asp-action="RoleManagement">
                    <i class="bi bi-card-checklist"></i>&ensp;Роли
                </a>
                <a class="btn btn-reg btn-jobit-60 rounded-pill mr-2" asp-controller="Admin" asp-action="UserManagement">
                    <i class="bi bi-card-checklist"></i>&ensp;Юзеры
                </a>
                <a class="btn btn-reg btn-jobit-60 rounded-pill mr-2" asp-controller="Account" asp-action="Registration">
                    <i class="bi bi-card-checklist"></i>&ensp;Регистрация
                </a>
                <a class="btn btn-reg btn-jobit-60 rounded-pill" asp-controller="Account" asp-action="Login">
                    <i class="bi bi-box-arrow-right "></i>&ensp;Войти
                </a>
            </div>
        </nav>
    </header>

}

